body {
  background-color: #ffffff;
  color: #37474f;
  font-family: monospace;
  padding:15px;
  display: -webkit-flex;
  -webkit-justify-content: center;
  -webkit-align-items: center;
  -webkit-flex-direction: column;
}

.row {
  display:block;
  width:100%;
  text-align: center;
}
.ck-button {
  display:inline-block;
}

.ck-button, button {
  overflow:auto;
  color: #37474f;
  border-color: #37474f;
  border: 1px solid;
  /* border-radius: 5px; */
  max-width: 50px;
  max-height: 50px;
  padding: 10px;
  background: #fff;
  vertical-align: middle;
  position: relative;
  z-index: 1;
  font-size: 20px;
  -webkit-backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
}

.ck-button:hover, button:hover {
  background-color: #F7F7F7;
}

.ck-button input {
  position:absolute;
  top: -20px;
}

.ck-button.active {
  color: #29759b;
  border-color: #29759b;
  background-color: #d7f2ff;
}

video {
  width:100%;
  border: 1px solid #37474f;
}

input[type="checkbox"]{
  -webkit-appearance: none;
  vertical-align:middle;
  margin-top:0;
  background:#fff;
  border:#999 solid 1px;
  border-radius: 3px;
  min-height: 16px;
  min-width: 16px;
}
input[type="checkbox"]:checked {
  background: #d7f2ff;
}
input[type=checkbox]:checked::after{
  content: '';
  top: 3px;
  left: 3px;
  position: absolute;
  background: transparent;
  border: #fff solid 2px;
  border-top: none;
  border-right: none;
  height: 6px;
  width: 10px;
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg); 
  transform: rotate(-45deg);
}